.body {
    background: rgba(0, 0, 0, 0.8);
}

.main {
    width: 100%;
    height: 100rex;
}

.logo {
    width: 100%;
    height: 100px;
    user-select: none;
}

.text {
    padding: 20px;
    border-radius: 18px;
    margin-left: 10px;
    font-size: 45px;
    margin-bottom: 45%;
    background: linear-gradient(#b454f5, #4860f8);
    color: white;
    vertical-align: middle;
}