.body {
    background: rgba(0, 0, 0, 0.8);
}

.main {
    width: 100%;
    position: relative;
    position: fixed;
}

.left_content {
    width: 16.8%;
    position: absolute;
}

.logo {
    width: 100%;
    height: 100px;
    user-select: none;
}

.root {
    margin-top: 5%;
    border-radius: 12px;
    background-color: rgb(115, 34, 190);
    width: 100%;
    height: 87vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: #b454f5;
    min-width: 200px;

}

.text {
    padding: 20px;
    border-radius: 18px;
    margin-left: 10px;
    font-size: 45px;
    background: linear-gradient(#b454f5, #4860f8);
    color: white;
    vertical-align: middle;
}

.root::-webkit-scrollbar {
    width: 14px;
}

.root::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 20px;
}